<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html>
  <head>
    <title>Joke API</title>
    <meta name="description" content="A shitty joke API created ">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#7289DA"/>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.3.0/css/bulma.min.css">
  </head>
  <body>
    <body>
    <section class="hero is-fullheight has-text-centered" id="home">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">A shitty joke API.</h1>
                <br>
                <h2 class="subtitle"><b>Endpoints</b></h2>
                <h3 class="subtitle">/api/jokes/dad</h3>
                <h3 class="subtitle">/api/jokes/dad</h3>
                <br>
                <h2 class="subtitle"><b>Apply for a Key</b></h2>
                <form>
                    <input type="text" maxlength="100" placeholder="Name">
                    <br>
                    <input type="text" maxlength="100" placeholder="Email">
                    <br>
                    <input type="text" maxlength="100" placeholder="Discord ID">
                    <br>
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </section>
</body>
</body>
</html>