<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html>
  <head>
    <title>Joke API</title>
    <meta name="description" content="A shitty joke API created ">
    <link id="favicon" rel="icon" href="https://cdn.glitch.com/8884138d-5221-46f7-abd8-4db1ea732a80%2Flocaltesting.png?1519954104427" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.3.0/css/bulma.min.css">    
  </head>
  <body>
    <body>
    <section class="hero is-fullheight has-text-centered" id="home">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">A shitty joke API.</h1>
                <br>
                <h2 class="subtitle"><b>Endpoints</b></h2>
                <table align="center">
                    <tr >
                        <th width="50%">Endpoint</th>
                        <th width="50%">Params</th>
                    </tr>
                    <tr>
                        <td>/api/jokes/dad</td>
                        <td>None</td>
                    </tr>
                    <tr>
                        <td>/api/jokes/bad</td>
                        <td>None</td>
                    </tr>
                </table>
            </div>
        </div>
    </section>
</body>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>